<form #signup="ngForm">
    <fieldset>
        <label for="firstname">Firstname</label>
        <input id="firstname" name="firstname" type="text" #firstname="ngModel" [(ngModel)]="this.newUser.firstname" minlength=3 maxlength=15 required>
    </fieldset>

    <div *ngIf="firstname.errors && signup.submitted">
        <span *ngIf="firstname.errors?.['required']">The field firstname is required</span>
        <span *ngIf="firstname.errors?.['maxlength']">The firstname field must not exceed 15 characters</span>
        <span *ngIf="firstname.errors?.['minlength']">The firstname field must be at least 3 characters long</span>
    </div>

    <fieldset>
        <label for="lastname">Lastname</label>
        <input id="lastname" name="lastname" type="text" #lastname="ngModel" [(ngModel)]="this.newUser.lastname" minlength=3 maxlength=15 required>
    </fieldset>

    <div *ngIf="lastname.errors  && signup.submitted">
        <span *ngIf="lastname.errors?.['required']">The field firstname is required</span>
        <span *ngIf="lastname.errors?.['maxlength']">The firstname field must not exceed 15 characters</span>
        <span *ngIf="lastname.errors?.['minlength']">The firstname field must be at least 3 characters long</span>
    </div>

    <fieldset>
        <label for="email">email</label>
        <input id="email" name="email" type="email" [(ngModel)]="this.newUser.email" required email>
    </fieldset>

    <fieldset>
        <label for="password">password</label>
        <input id="password" name="password" type="password" [(ngModel)]="this.newUser.password" required>
    </fieldset>
    <button type="submit" (click)="onSubmit()">Submit</button>
</form>